
*.xcworkspacedata

PdSSyncPhp/.buildpath

PdSSyncPhp/.project

PdSSyncPhp/.settings*

PdSSyncPhp/Repository/*

PdSSyncPhp/dummy.php

PdSSync.xcworkspace/xcuserdata/bpds.xcuserdatad/UserInterfaceState.xcuserstate 
